{{>head}}
{{>title}}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
<!-- JS -->
<script type="text/javascript" charset="utf8" src="/javascripts/administration.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/administration.css" />
<body>
        <div class="container">
                <div><a href="http://localhost:3000/creation" class="btn-add">Ajouter un Membre</a></div>
                <table id="main_table" class="hover row-border"> 
                        <thead>
                                <tr>
                                        <th>id</th>
                                        <th>Prénom / Nom</th>
                                        <th>Nouvelles photos</th>
                                        <th>Code</th>
                                </tr>
                        </thead>
                </table>
        </div>
</body>
</html>
