{{>head}}
<link rel="stylesheet" href="stylesheets/style-login.css">
<link rel="stylesheet" href="stylesheets/error.css">
<script type="text/javascript" charset="utf8" src="/javascripts/creation.js"></script>
<body>
	{{>title}}
	<section class="container">
		<div class="login">
			<h1>Créer un nouveau compte FamilyContact</h1>
			<form>
				<p><input type="text" name="lastname" value="" placeholder="Nom"></p>
				<p><input type="text" name="firstname" value="" placeholder="Prénom"></p>
				<p><input type="text" name="birthdate" value="" placeholder="Date de naissance jj/mm/aaaa"></p>
				<p class="submit"><input type="submit" name="commit" value="S'inscrire" onclick="onSubmit();return false;"></p>
			</form>
		</div>
	</section>
</body>
<script>
        $('input')
        .on('focusin', function() {
                $(this).next('label').addClass('active');
        })
        .on('focusout', function() {
                console.log($(this).val());
                if ($(this).val() === "") {
                        $(this).next('label').removeClass('active');
                }
        });
</script>
</html>

