{{>head}}
<link rel="stylesheet" href="stylesheets/style-login.css">
<script type="text/javascript" charset="utf8" src="/javascripts/download.js"></script>
<body>
	{{>title}}
	<section class="container">
		<div class="login">
			<h1>Get your file by typing the code</h1>
			<form method="post">
				<p><input type="text" name="code" value="" placeholder="CODE"></p>
				<p class="submit"><input type="submit" name="commit" value="Connexion" onclick="downloadFile(); return false;"></p>
			</form>
		</div>
	</section>
</body>
<script>
        $('input')
        .on('focusin', function() {
                $(this).next('label').addClass('active');
        })
        .on('focusout', function() {
                console.log($(this).val());
                if ($(this).val() === "") {
                        $(this).next('label').removeClass('active');
                }
        });
</script>
</html>
