{{>head}}
{{>title}}
<style>
    .container {
            width: 1080px;
            margin: 0 auto;
    }
</style>
<body>
        <div class="container">
                <p>Sorry, something went wrong</p>
        </div>
</body>
