<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EzShare - share easily">
    <meta name="author" content="Théo Damaville">

    <title>{{ title }}</title>

    <!-- Custom styles for this template -->
	<script type="text/javascript" charset="utf8" src="/javascripts/const.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/style.css" rel="stylesheet">

  </head>
