{{>head}}
<link rel="stylesheet" href="stylesheets/style-login.css">
<body>
	{{>title}}
	<section class="container">
		<div class="accueil">
			<h1>Choose one of both</h1>
			<ul>
				<li><a href="/share">share</a></li>
				<li><a href="/download">get a file</a></li>
			</ul>
		</div>
	</section>
</body>
<script>
        $('input')
        .on('focusin', function() {
                $(this).next('label').addClass('active');
        })
        .on('focusout', function() {
                console.log($(this).val());
                if ($(this).val() === "") {
                        $(this).next('label').removeClass('active');
                }
        });
</script>
</html>
