{{>head}}
{{>title}}
<link rel="stylesheet" type="text/css" href="../stylesheets/profil.css">
<script type="text/javascript" charset="utf8" src="/javascripts/profil.js"></script>
<body>
	<div class="container">
		<div class="details-container">
			{{#user}}
			<h2 id="fullname">{{firstname}} {{lastname}}</h2>
			<ul>
				<li><span class="bold">Email : </span>{{email}}</li>
				<li><span class="bold">Code : </span>{{password}}</li>
				<li><span class="bold">Date de naissance : </span><p id="birthField" style="display:inline">{{birthdate}}</p></li>
				<li><span class="bold">Nombre de photo : </span>{{photo_count}} ({{photo_count_unseen}} non vues)</li>
				<li><span class="bold">Contacts inscrit : </span>{{contact_count}}</li>
				<li><button id="modify" class="button color blue" type="button" onclick="modifyUser({{id}})">Modifier ce compte</button></li>
				<li><button class="button color red" type="button" onclick="deactivateUser({{id}})">Desactiver ce compte</button></li>
			</ul>
			{{/user}}
		</div>
	</section>
</body>
</html>
