{{>head}}
<link rel="stylesheet" href="stylesheets/style-login.css">
<script type="text/javascript" charset="utf8" src="/javascripts/share.js"></script>
<body>
	{{>title}}
	<section class="container" id="mainWindows">
		<div class="login" id="unlogged">
			<h1>Get logged before that...</h1>
			<form method="post">
				<p><input type="text" name="login" value="" placeholder="Email"></p>
				<p><input type="password" name="password" value="" placeholder="Password"></p>
				<p class="submit"><input type="submit" name="commit" value="Share !" onclick="log(); return false;"></p>
			</form>
		</div>
	</section>
</body>
<script>
        $('input')
        .on('focusin', function() {
                $(this).next('label').addClass('active');
        })
        .on('focusout', function() {
                console.log($(this).val());
                if ($(this).val() === "") {
                        $(this).next('label').removeClass('active');
                }
        });
</script>
</html>

