html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body {
  color: #404040;
  background: #fafafa;
}
input[type=text],
input[type=password] {
        padding: 20px 0 10px;
        margin-bottom: 20px;
        font-family: 'Open-sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        background-color: rgba(0,0,0,0); 

        transition: box-shadow .3s;
}
input[type=text]:focus,
input[type=password]:focus {
        border-bottom: 1px solid #BED35a;
        box-shadow: 0 1px 0 0 #BED35a;
}
label {
        font-family: 'Open-sans', sans-serif;
        font-weight: 300;
        position: relative;
        top: -45px;
        cursor: text;
        transition: 0.1s ease-out;
        z-index: -1;
}
label.active {
        top: -70px;
        font-size: 12px;
        color: #BED35a;
}

button[type=submit] {
        padding: 10px 17px;
        margin-top: 10px;
        border: none;
        background-color: #BED35a;
        color: white;
        font-family: 'Open-sans', sans-serif;
        font-size: 14px;
        transition: transform 0.1s ease, box-shadow 0.1s ease;
}
button[type=submit]:hover, button[type=submit]:active {
        outline: none;
        transform: scale(1.05);
        box-shadow: 0px 0px 30px 0px #BDBDBD;
}
