.container {
  margin: 100px auto;
  width: 640px;
}

.login h2 {
        font-family: 'Open-sans', sans-serif;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 30px;
        text-decoration: none;
        color: #f3ab51;
}

